<div class="layui-form" lay-filter="layuiadmin-form-tags" id="layuiadmin-app-form-tags">
    <div class="layui-col-sm6 layui-col-md3">
        <div class="layui-card">
            <div class="layui-card-header">
                申请人
                <span class="layui-badge layui-bg-blue layuiadmin-badge">始</span>
            </div>
            <div class="layui-card-body layuiadmin-card-list">
              <input type="text" name="title" placeholder="审批流标题" autocomplete="off" class="layui-input">
              <hr>
              <p>
                    开始
                    <span class="layuiadmin-span-color"><i class="layui-icon layui-icon-template-1"></i></span>
                </p>
            </div>
        </div>
      <div class="layui-card">
        <div class="layui-card-header">
          <span class="layui-badge layui-bg-red layuiadmin-badge">末</span>
        </div>
        <div class="layui-card-body layuiadmin-card-list">
          <input type="text" name="title" placeholder="审批流标题" autocomplete="off" class="layui-input">
          <hr>
          <p>
            结束
            <span class="layuiadmin-span-color"><i class="layui-icon layui-icon-template-1"></i></span>
          </p>
        </div>
      </div>
    </div>
</div>