<div id="admin-form"></div>
<script type="text/html" id="admin-form-tpl">
    <div class="layui-form" lay-filter="admin-user-form" style="padding: 20px 30px 0 0;">
        <div class="layui-form-item">
            <label class="layui-form-label">用户名</label>
            <div class="layui-input-inline">
                <input type="text" name="username" value="" lay-verify="required|username" placeholder="请输入用户名"
                       autocomplete="off" class="layui-input" {{ d.id ? " disabled" : "" }}>
            </div>
        </div>
        {{#  if(!d.id){ }}
        <div class="layui-form-item">
            <label class="layui-form-label">密码</label>
            <div class="layui-input-inline">
                <input type="text" name="password" value="" lay-verify="required" placeholder="请输入密码"
                       autocomplete="off" class="layui-input">
            </div>
        </div>
        {{#  } }}
        <div class="layui-form-item">
            <label class="layui-form-label">昵称</label>
            <div class="layui-input-inline">
                <input type="text" name="nickname" value="" lay-verify="required" placeholder="请输入昵称"
                       autocomplete="off" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">角色</label>
            <div class="layui-input-inline">
                <div id="user-roles-select"></div>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">头像</label>
            <div class="layui-input-inline">
                <input type="hidden" name="avatar">
                <img src="{{ d.avatar ? d.avatar : '/img/plus.png' }}" style="height: 96px;width: 96px" id="LAY_avatarUpload">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">性别</label>
            <div class="layui-input-inline">
                <input type="radio" name="gender" value='1' title="男"
                       lay-filter="gender">
                <input type="radio" name="gender" value='0' title="女"
                       lay-filter="gender">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">手机</label>
            <div class="layui-input-inline">
                <input type="text" name="mobile" value="" lay-verify="required|phone" placeholder="请输入手机" autocomplete="off"
                       class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">邮箱</label>
            <div class="layui-input-inline">
                <input type="text" name="email" value="" lay-verify="required|email" placeholder="请输入邮箱" autocomplete="off"
                       class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">备注</label>
            <div class="layui-input-inline">
                <textarea name="remark" autocomplete="off" class="layui-textarea"></textarea>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label"></label>
            <div class="layui-input-inline">
                <input type="hidden" name="id" value="">
                <input type="button" lay-submit lay-filter="user-form-submit" value="保存" class="layui-btn">
            </div>
        </div>
    </div>
</script>

<script type="text/html" id="user-roles-select-tpl">
    <select name="role_id">
        {{# layui.each(d.roles, function(index, item){ }}
        <option value="{{ item.id }}" {{ d.role_id=== item.id ?
        ' selected' : '' }}>{{ item.title }}</option>
        {{# }); }}
    </select>
</script>