
<title>分类管理</title>

<div class="layui-card layadmin-header">
  <div class="layui-breadcrumb" lay-filter="breadcrumb">
    <a lay-href="">主页</a>
    <a><cite>商品管理</cite></a>
    <a><cite>分类管理</cite></a>
  </div>
</div>

<div class="layui-fluid" id="lay-product-category">
  <div class="layui-card">
    <div class="layui-card-body">
      <div style="padding-bottom: 10px;">
        <button class="layui-btn layuiadmin-btn-admin" lay-event="info">添加</button>
      </div>

      <table id="LAY-product-category-list" lay-filter="LAY-product-category-list"></table>

      <script type="text/html" id="table-category-status">
        {{#  if(d.status == 1){ }}
        <button class="layui-btn layui-btn-xs" hyperf-forbid="{{ d.id }}" hyperf-url="/product/category/forbid">启用
        </button>
        {{#  } else { }}
        <button class="layui-btn layui-btn-warm layui-btn-xs" hyperf-resume="{{ d.id }}"
                hyperf-url="/product/category/resume">禁用
        </button>
        {{#  } }}
      </script>

      <script type="text/html" id="table-category-actions">
        <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="info" lay-id="{{ d.id }}"><i
                class="layui-icon layui-icon-edit"></i>编辑</a>
        <a class="layui-btn layui-btn-danger layui-btn-xs" hyperf-del="{{ d.id }}" hyperf-url="/product/category/del"><i
                class="layui-icon layui-icon-delete"></i>删除</a>
      </script>
    </div>
  </div>
</div>

<script>
  layui.use('product-category', layui.factory('product-category'));
</script>
